.loginContainer{
    display: grid;
    grid-template-columns: 60% 40%;
    background: url("https://app.realsatisfied.com/images/new_r2/login_bg.png") center -225px / cover no-repeat;
    padding-right: 6rem;
    padding-left: 6rem;
}


@media screen and (max-width:1000px) {
    .loginContainer{
        background: url("https://app.realsatisfied.com/images/new_r2/login_bg.png") ;
        grid-template-columns: 40% 60%;
    }}